In [35]:
import re
import pandas as pd

In [2]:
#answer 1
text = 'Python Exercises, PHP exercises.'
print(re.sub(r'[ ,.]', ':', text))

Python:Exercises::PHP:exercises:

In [13]:
#answer 2
dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict)
df['SUMMARY']=df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

In [14]:
#answer 3
def four_character_long_words(text):
    pattern=re.compile(r'\b\w{4,}\b')
    return pattern.findall(text)

In [15]:
text='I am learning regular expression and I am enjoying learning it!'
four_character_long_words(text)

['learning', 'regular', 'expression', 'enjoying', 'learning']

In [16]:
#answer 4
def three_four_and_five_character_long_words(text):
    pattern=re.compile(r'\b\w{3,5}\b')
    return pattern.findall(text)

In [17]:
text='I am learning regular expression and I am enjoying learning it!'
three_four_and_five_character_long_words(text)

['and']

In [3]:
#answer 5
def remove_parenthesis(strings):
    pattern=re.compile(r'\([^)]*\)')
    cleaned_strings=[pattern.sub('', s) for s in strings]
    return cleaned_strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=remove_parenthesis(sample_text)
result

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [2]:
#answer 6
def remove_parenthesis(strings):
    pattern=re.compile(r'\([^)]*\)')
    cleaned_strings=[pattern.sub('', s) for s in strings]
    return cleaned_strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=remove_parenthesis(sample_text)
result

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [3]:
#answer 7
text='ImportanceOfRegularExpressionsInPython'
result=re.findall('[A-Z][^A-Z]*', text)
result

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [8]:
#answer 8
def insert_spaces(text):
    pattern=r'\b(\d+\w*)\b'
    spaced_text=re.sub(pattern, ' \1', text)
    return spaced_text

In [9]:
sample_text='regularexpression1isan2importanttopic3inpython'
insert_spaces(sample_text)

'regularexpression1isan2importanttopic3inpython'

In [10]:
#answer 9
def insert_spaces(text):
    pattern=r'([A-Z][a-z0-9]+|\d+)'
    spaced_text=re.sub(pattern, ' \1', text)
    return spaced_text

In [14]:
sample_text='RegularExpression1IsAn2ImportantTopic3InPython'
insert_spaces(sample_text)

' \x01 \x01 \x01 \x01 \x01 \x01 \x01 \x01'

In [20]:
#answer 10
data=pd.read_csv(r'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df=pd.DataFrame(data)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [29]:
df['first_five_letters']=df['Country'].apply(lambda x:re.search(r'^\w{5}', x))

In [30]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,"<re.Match object; span=(0, 5), match='Switz'>"
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,"<re.Match object; span=(0, 5), match='Icela'>"
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,"<re.Match object; span=(0, 5), match='Denma'>"
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,"<re.Match object; span=(0, 5), match='Norwa'>"
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,"<re.Match object; span=(0, 5), match='Canad'>"

In [31]:
#answer 11
def text_match(text):
    pattern='^[a-zA-Z0-9_]*$'
    match=re.search(pattern, text)
    if match:
        print('match found', match)
    else:
        print('no match found')

In [32]:
text_match('learning regular expression needs regorous practice')

no match found

In [33]:
text_match('regular_expression_1')

match found <re.Match object; span=(0, 20), match='regular_expression_1'>

In [34]:
#answer 12
#not able to understand the question.

In [36]:
#answer 13
def remove_leading_zeroes(ip):
    modified_ip=re.sub(r'\.0*', '.', ip)
    return modified_ip

In [37]:
original_ip="216.08.094.196"
cleaned_ip=remove_leading_zeroes(original_ip)
cleaned_ip

'216.8.94.196'

In [41]:
#answer 14
Sample_text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'
pattern = r"\d{2}\s(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s\d{4}"
result=re.findall(pattern, Sample_text)
result

[]

In [42]:
#answer 15
def search_literals(text, searched_words):
    for word in searched_words:
        match = re.search(word, text)
        if match:
            start_index = match.start()
            end_index = match.end()
            print(f'Found "{word}" in the text from {start_index} to {end_index}')
        else:
            print(f'"{word}" not found in the text.')
sample_text = 'The quick brown fox jumps over the lazy dog.'
words_to_search = ['fox', 'dog', 'horse']
search_literals(sample_text, words_to_search)

Found "fox" in the text from 16 to 19
Found "dog" in the text from 40 to 43
"horse" not found in the text.

In [43]:
#answer 16
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
if match:
    start_index = match.start()
    end_index = match.end()
    print(f'Found "{pattern}" in "{text}" from {start_index} to {end_index}')
else:
    print(f'"{pattern}" not found in the text.')

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [44]:
#answer 17
def find_substrings(text, pattern):
    matches = re.finditer(pattern, text)
    for match in matches:
        start_index = match.start()
        end_index = match.end()
        print(f"Found '{pattern}' at index {start_index} to {end_index}")
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern_to_search = 'exercises'
find_substrings(sample_text, pattern_to_search)

Found 'exercises' at index 7 to 16
Found 'exercises' at index 22 to 31
Found 'exercises' at index 36 to 45

In [45]:
#answer 18
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    start_index = match.start()
    end_index = match.end()
    print(f'Found "{text[start_index:end_index]}" at {start_index}:{end_index}')

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [46]:
#answer 19
def convert_date_format(date_str):
    new_date_str = re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', date_str)
    return new_date_str
original_date = "2026-01-02"
converted_date = convert_date_format(original_date)
print(f"Original date in YYYY-MM-DD format: {original_date}")
print(f"New date in DD-MM-YYYY format: {converted_date}")

Original date in YYYY-MM-DD format: 2026-01-02
New date in DD-MM-YYYY format: 02-01-2026

In [47]:
#answer 20
def find_decimal_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    return pattern.findall(text)
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = find_decimal_numbers(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [48]:
#answer 21
def find_numbers_and_positions(text):
    pattern = r'\d+'  
    for match in re.finditer(pattern, text):
        number = match.group(0)
        start_index = match.start()
        end_index = match.end()
        print(f"Number: {number} (Position: {start_index}-{end_index})")
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
find_numbers_and_positions(sample_text)

Number: 50 (Position: 62-64)

In [49]:
#answer 22
def extract_max_numeric_value(input_str):
    numbers = re.findall(r'\d+', input_str)
    numbers = map(int, numbers)
    print(max(numbers))
if __name__ == "__main__":
    input_str = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
    extract_max_numeric_value(input_str)

950

In [50]:
#answer 23
def insert_spaces(text):
    pattern = r'([A-Z][a-z]+)'
    modified_text = re.sub(pattern, r' \1', text)
    return modified_text.strip()
sample_text = "RegularExpressionIsAnImportantTopicInPython"
formatted_text = insert_spaces(sample_text)
print(formatted_text)

Regular Expression Is An Important Topic In Python

In [51]:
#answer 24
pattern = r'[A-Z][a-z]+'
text = "This is a Sample Text with Multiple Matches"
matches = re.findall(pattern, text)
print(matches)

['This', 'Sample', 'Text', 'Multiple', 'Matches']

In [52]:
#answer 25
def remove_continuous_duplicates(sentence):
    pattern = r'\b(\w+)(?:\s+\1)+\b'
    result = re.sub(pattern, r'\1', sentence, flags=re.IGNORECASE)
    return result
sample_text = "Hello hello world world"
output = remove_continuous_duplicates(sample_text)
print(output)

Hello world

In [53]:
#answer 26
def check_ending_alphanumeric(string):
    pattern = r'[a-zA-Z0-9]$'
    if re.search(pattern, string):
        print("Accept")
    else:
        print("Discard")
check_ending_alphanumeric("sarveshjoshi@")
check_ending_alphanumeric("sheetal326")
check_ending_alphanumeric("betu.")

Discard
Accept
Discard

In [54]:
#answer 27
def extract_hashtags(text):
    pattern = r'#\w+'
    hashtags = re.findall(pattern, text)
    return hashtags
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""" 
hashtags_list = extract_hashtags(sample_text)
print(hashtags_list)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [55]:
#answer 28
def remove_unicode_symbols(text):
    pattern = r'<U\+[0-9A-Fa-f]+>'
    cleaned_text = re.sub(pattern, '', text)
    return cleaned_text
sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
output_text = remove_unicode_symbols(sample_text)
print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [56]:
#answer 29
def extract_dates_from_file(file_path):
    try:
        with open(file_path, 'r') as file:
            text = file.read()
            pattern = r'\d{2}-\d{2}-\d{4}'
            dates = re.findall(pattern, text)
            return dates
    except FileNotFoundError:
        print(f"File '{file_path}' not found.")
        return []
sample_text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
with open('sample.txt', 'w') as file:
    file.write(sample_text)
file_path = 'sample.txt'
extracted_dates = extract_dates_from_file(file_path)
print("Extracted dates:", extracted_dates)

Extracted dates: ['12-09-1992', '15-12-1999']

In [57]:
#answer 30
def remove_short_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    result = pattern.sub('', text)
    return result
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output_text = remove_short_words(sample_text)
print(output_text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.