In [1]:
#job role = data scientitst(10)
#job title
#location
#company
#experience

In [147]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [30]:
#answer 1
driver=webdriver.Chrome()

In [31]:
driver.get('https://www.naukri.com/')

In [32]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [33]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [34]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [35]:
location_filter=driver.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[14]/div[2]/div[1]/label/p/span[1]")
location_filter.click()

In [36]:
salary_filter=driver.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [37]:
job_title=[]
location=[]
company=[]
experience=[]

In [38]:
for i in driver.find_elements(By.XPATH, '//a[@class="title "]'):
    job_title.append(i.text)
print(job_title)

for i in driver.find_elements(By.XPATH, '//span[@class="loc-wrap ver-line"]'):
    location.append(i.text)
print(location)

for i in driver.find_elements(By.XPATH, '//div[@class=" row2"]'):
    company.append(i.text)
print(company)

for i in driver.find_elements(By.XPATH, '//span[@class="exp-wrap"]'):
    experience.append(i.text)
print(experience)

['Data Scientist', 'Data Scientist: Artificial Intelligence', 'Data Scientist (AI/ML)|| US Based MNC || Noida', 'Data Analyst', 'Snowflake Data Engineer', '', '', '', 'Data Scientist/Data Analyst - LLM', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist (Telco)', 'Data Analyst & Data Scientist', 'Data Scientist', 'Data Scientist', 'Data scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist- LLM/NLP']
['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram', 'Hybrid - Noida', 'Gurgaon/Gurugram', '', '', '', '', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram', 'Ghaziabad', 'Noida', 'Gurugram, Bengaluru', 'Gurugram', 'New Delhi', 'Gurugram', 'Gurugram', 'Noida', 'Noida', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru']
['Nityo Infotech\n3.2\n663 Reviews', 'IBM\n4.1\n20415 Reviews', 'US based Software Company\nPosted by Bean Hr Consulting', 'Large Analytics MNC', 'Leading Indian IT Service Company', '', '', '', 'Hexaconcepts', 'Essenware\n4.7\n4 Reviews', 'Biz Tech Consultants\n3.5\n3 Reviews', 'Biz Tech Consultants\n3.5\n3 Reviews', 'Biz Tech Consultants\n3.5\n3 Reviews', 'PayU\n3.6\n380 Reviews', 'Varuna Integrated Logistics\n3.7\n360 Reviews', 'Sociomix', 'Collegedunia\n2.9\n506 Reviews', 'Growthjockey\n4.3\n7 Reviews', 'Innovaccer\n3.0\n301 Reviews', 'Times Internet\n3.6\n620 Reviews', 'Intense Technologies\n4.1\n125 Reviews', 'Digital Glyde\n3.8\n6 Reviews', 'Monnai', 'Futurism Technologies\n3.5\n77 Reviews', 'Simetrik']
['3-7 Yrs', '3-7 Yrs', '3-5 Yrs', '0-1 Yrs', '3-7 Yrs', '', '', '', '2-6 Yrs', '2-5 Yrs', '3-8 Yrs', '3-8 Yrs', '3-8 Yrs', '2-7 Yrs', '3-8 Yrs', '0-5 Yrs', '0-2 Yrs', '0-1 Yrs', '2-7 Yrs', '3-8 Yrs', '3-7 Yrs', '3-7 Yrs', '3-7 Yrs', '2-4 Yrs', '2-3 Yrs']

In [39]:
len(job_title), len(location), len(company), len(experience)

(25, 25, 25, 25)

In [48]:
df=pd.DataFrame({'Job Title':job_title, 'Location':location, 'Company':company, 'Experience':experience})
df.iloc[0:10]

,Job Title,Location,Company,Experience
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Nityo Infotech\n3.2\n663 Reviews,3-7 Yrs
1,Data Scientist: Artificial Intelligence,Gurugram,IBM\n4.1\n20415 Reviews,3-7 Yrs
2,Data Scientist (AI/ML)|| US Based MNC || Noida,Hybrid - Noida,US based Software Company\nPosted by Bean Hr C...,3-5 Yrs
3,Data Analyst,Gurgaon/Gurugram,Large Analytics MNC,0-1 Yrs
4,Snowflake Data Engineer,,Leading Indian IT Service Company,3-7 Yrs
5,,,,
6,,,,
7,,,,
8,Data Scientist/Data Analyst - LLM,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Hexaconcepts,2-6 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware\n4.7\n4 Reviews,2-5 Yrs

In [30]:
#answer 2
driver=webdriver.Chrome()

In [4]:
driver.get('https://www.shine.com/')

In [ ]:
designation=driver.find_element(By.XPATH, '')
designation.send_keys('Data Analyst')
#a hidden popup is coming out of nowhere as i am clicking the inspect button not sure what to do

In [40]:
#answer 3
driver=webdriver.Chrome()

In [41]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [42]:
rating=[]
review_summary=[]
full_review=[]

In [46]:
rating=[]
start=0
end=10
for page in range(start, end):
    for i in driver.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]'):
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
    next_button.click()
    time.sleep(10)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span"}
  (Session info: chrome=128.0.6613.138); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF737759412+29090]
	(No symbol) [0x00007FF7376CE239]
	(No symbol) [0x00007FF73758B1DA]
	(No symbol) [0x00007FF7375DEFE7]
	(No symbol) [0x00007FF7375DF23C]
	(No symbol) [0x00007FF7376297C7]
	(No symbol) [0x00007FF73760672F]
	(No symbol) [0x00007FF7376265A2]
	(No symbol) [0x00007FF737606493]
	(No symbol) [0x00007FF7375D09D1]
	(No symbol) [0x00007FF7375D1B31]
	GetHandleVerifier [0x00007FF737A7871D+3302573]
	GetHandleVerifier [0x00007FF737AC4243+3612627]
	GetHandleVerifier [0x00007FF737ABA417+3572135]
	GetHandleVerifier [0x00007FF737815EB6+801862]
	(No symbol) [0x00007FF7376D945F]
	(No symbol) [0x00007FF7376D4FB4]
	(No symbol) [0x00007FF7376D5140]
	(No symbol) [0x00007FF7376C461F]
	BaseThreadInitThunk [0x00007FFD27C9257D+29]
	RtlUserThreadStart [0x00007FFD2908AF28+40]

In [27]:
#i am not sure why it is throwing this error!

In [47]:
next_button=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_button.click()

In [48]:
#while this is executing properly

In [105]:
#answer 4
driver=webdriver.Chrome()

In [106]:
driver.get('https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [107]:
brand=[]
product_discription=[]
price=[]

In [108]:
for i in driver.find_elements(By.CLASS_NAME, 'syl9yP'):
    brand.append(i.text)
brand

['lejano',
 'BRUTON',
 'Sparx',
 'HRX by Hrithik Roshan',
 'Xtoon',
 'BRUTON',
 'Bata',
 'HRX by Hrithik Roshan',
 'KILLER',
 'NIKE',
 'BRUTON',
 'BRUTON',
 'Roadster',
 'HRX by Hrithik Roshan',
 'Bata',
 'Roadster',
 'BRUTON',
 'CAMPUS',
 'HRX by Hrithik Roshan',
 'WROGN',
 'MEGPAR',
 'MEGPAR',
 'Red Tape',
 'Red Tape',
 'CAMPUS',
 'alpaargo',
 'CAMPUS',
 'JUMPLITE',
 'Red Tape',
 'PUMA',
 'CAMPUS',
 'CAMPUS',
 'PUMA',
 'Hida',
 'CAMPUS',
 'asian',
 'AMICO',
 'HRX by Hrithik Roshan',
 'PUMA',
 'RECSOR']

In [109]:
for i in driver.find_elements(By.CLASS_NAME, 'WKTcLC'):
    product_discription.append(i.text)
product_discription

['Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'SM 784 | Stylish, Comfortable | Sneakers For Men',
 'Rerooted Classics Sneakers For Men',
 "Xtoon comfortable casual shoes for men's Sneakers For M...",
 'Lite Casual Shoes Sneakers For Men',
 'SPARK E 24 Sneakers For Men',
 'Rerooted Classics Sneakers For Men',
 'Casual Sneaker Shoes For Men | Enhanced Comfort with Cu...',
 'Court Royale Sneakers For Men',
 'Lite Casual Shoes Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Cityscape Sneakers For Men',
 'DASH E 24 Sneakers For Men',
 'Casual Sneakers For Men',
 'Combo Pack of 2 Trendy & Stylish Casual Shoes Sneakers ...',
 'FLASH Sneakers For Men',
 'Club Culture Sneakers For Men',
 'Sneakers For Men',
 'White New Stylish Look Comfortable Casual Shoes Womens ...',
 'Stylish Pink Casual Sneakers For Women',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'OG-D3 Sneakers For Men',
 'Geniune Synthetic Leather Lightweight,Comfort,Trendy,Wa...',
 'OG-05 Sneakers For Men',
 'Lightweight Comfort Summer Trendy Premium Stylish Party...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'ST Runner v3 L Sneakers For Men',
 'OG-11 Sneakers For Men',
 'CAMP-CLINT Sneakers For Women',
 'Rungryp Sneakers For Men',
 'Sneakers For Men',
 'OG-D3 Sneakers For Men',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Club 5v5 SD Sneakers For Men',
 'Fashionable I Stylish I Casual I Extra Lightweight I Su...']

In [110]:
for i in driver.find_elements(By.CLASS_NAME, 'Nx9bqj'):
    price.append(i.text)
price

['₹459',
 '₹299',
 '₹584',
 '₹814',
 '₹407',
 '₹478',
 '₹619',
 '₹1,047',
 '₹849',
 '₹4,495',
 '₹499',
 '₹279',
 '₹1,517',
 '₹726',
 '₹619',
 '₹1,403',
 '₹499',
 '₹1,374',
 '₹902',
 '₹362',
 '₹429',
 '₹429',
 '₹1,079',
 '₹1,079',
 '₹513',
 '₹599',
 '₹1,374',
 '₹859',
 '₹1,079',
 '₹5,224',
 '₹1,311',
 '₹1,249',
 '₹2,350',
 '₹569',
 '₹646',
 '₹799',
 '₹429',
 '₹720',
 '₹3,149',
 '₹699',
 '₹279',
 '₹726',
 '₹407',
 '₹1,374',
 '₹362']

In [118]:
df=pd.DataFrame({'Brand':brand, 'Product Discription': product_discription, 'Price':price[:40]})
df

,Brand,Product Discription,Price
0,lejano,Sneakers For Men,₹459
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299
2,Sparx,"SM 784 | Stylish, Comfortable | Sneakers For Men",₹584
3,HRX by Hrithik Roshan,Rerooted Classics Sneakers For Men,₹814
4,Xtoon,Xtoon comfortable casual shoes for men's Sneak...,₹407
5,BRUTON,Lite Casual Shoes Sneakers For Men,₹478
6,Bata,SPARK E 24 Sneakers For Men,₹619
7,HRX by Hrithik Roshan,Rerooted Classics Sneakers For Men,"₹1,047"
8,KILLER,Casual Sneaker Shoes For Men | Enhanced Comfor...,₹849
9,NIKE,Court Royale Sneakers For Men,"₹4,495"
10,BRUTON,Lite Casual Shoes Sneakers For Men,₹499
11,BRUTON,Lattest Sneakers Shoe Sneakers For Men,₹279
12,Roadster,Sneakers For Men,"₹1,517"
13,HRX by Hrithik Roshan,Cityscape Sneakers For Men,₹726
14,Bata,DASH E 24 Sneakers For Men,₹619
15,Roadster,Casual Sneakers For Men,"₹1,403"
16,BRUTON,Combo Pack of 2 Trendy & Stylish Casual Shoes ...,₹499
17,CAMPUS,FLASH Sneakers For Men,"₹1,374"
18,HRX by Hrithik Roshan,Club Culture Sneakers For Men,₹902
19,WROGN,Sneakers For Men,₹362
20,MEGPAR,White New Stylish Look Comfortable Casual Shoe...,₹429
21,MEGPAR,Stylish Pink Casual Sneakers For Women,₹429
22,Red Tape,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,079"
23,Red Tape,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,079"
24,CAMPUS,OG-D3 Sneakers For Men,₹513
25,alpaargo,"Geniune Synthetic Leather Lightweight,Comfort,...",₹599
26,CAMPUS,OG-05 Sneakers For Men,"₹1,374"
27,JUMPLITE,Lightweight Comfort Summer Trendy Premium Styl...,₹859
28,Red Tape,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,079"
29,PUMA,ST Runner v3 L Sneakers For Men,"₹5,224"
30,CAMPUS,OG-11 Sneakers For Men,"₹1,311"
31,CAMPUS,CAMP-CLINT Sneakers For Women,"₹1,249"
32,PUMA,Rungryp Sneakers For Men,"₹2,350"
33,Hida,Sneakers For Men,₹569
34,CAMPUS,OG-D3 Sneakers For Men,₹646
35,asian,"Boston-01 Chunky Sneakers,Loafers,Walking Shoe...",₹799
36,AMICO,Sneakers For Men,₹429
37,HRX by Hrithik Roshan,Sneakers For Men,₹720
38,PUMA,Club 5v5 SD Sneakers For Men,"₹3,149"
39,RECSOR,Fashionable I Stylish I Casual I Extra Lightwe...,₹699

In [148]:
#answer 5
driver=webdriver.Chrome()

In [149]:
driver.get('http://www.amazon.in/')

In [150]:
search_button=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_button.click()

In [151]:
search_laptop=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_laptop.send_keys('laptop')

In [152]:
search_icon=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_icon.click()

In [153]:
cpu_filter=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/span/span[8]/li/span/a/span')
cpu_filter.click()

In [154]:
title=[]
ratings=[]
price=[]

In [155]:
for i in driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]'):
    title.append(i.text)

In [158]:
title

['(Refurbished) Lenovo ThinkPad 6th Gen Intel Core i5 Thin & Light HD Laptop (16GB RAM / 512GB SSD /14" (35.6 cm) HD/Windows 11/MS Office/WiFi/Webcam/Intel Graphics), Black',
 'Acer Aspire Lite 12th Gen Intel Core i5-1235U Premium Laptop (16GB RAM/512GB SSD/Win11 Home&Student/Intel Graphics/MSO) AL15-52, 39.62cm (15.6") Full HD Display, Backlit Keyboard, Steel Gray, 1.59KG',
 'HP Laptop 15, Intel Core i5-1334U, 15.6-inch(39.6 cm), FHD, 16GB DDR4, 512GB SSD, Audio by B&O; Dual Speakers, Windows 11 Home, Silver, 1.59 kg, 15-fd0221TU',
 '(Renewed) DELL Latitude 5490 Core i5 8th Gen Laptop, 16 GB RAM, 512GB SSD, Intel HD Graphics, 14 inch (36.83 cms) HD Screen, Windows 11 (Upgraded), MS Office, Black, Slim',
 'Lenovo V14 G3 Laptop (Intel Core i5/ 12th Gen/ 8GB RAM/ 512GB SSD/DOS/ 14" Inch), Arctic Grey, 1 Year Service Center Carry in Warranty',
 'ASUS TUF F15 Gaming Laptop, Intel Core i5-11400H 11th Gen, 15.6-inch (39.62 cm) FHD 144Hz,(16GB RAM/512GB SSD/4GB NVIDIA GeForce RTX 2050/Windows 11/ RGB Backlit KB/Black/2.30 kg), FX506HF-HN025W',
 '(Renewed) DELL Latitude 5490 Core i5 7th Gen Laptop, 16 GB RAM, 512GB SSD, Intel HD Graphics, 14 inch (36.83 cms) HD Screen, Windows 11 (Upgraded), MS Office, Black, Slim',
 'Acer Aspire 3 Intel Core i5-1235U Processor Laptop with 35.56 cm(14") FHD LED-Backlit IPS Display (16GB RAM/1TB SSD/WiFi 6/Intel Graphics/Win11Home) A324-51, Backlit Keyboard, Steel Gray, 1.45KG',
 'ASUS Vivobook 15, Intel Core i5-12500H 12th Gen, Thin and Light Laptop, 15.6" (39.62 cm) FHD, (8 GB RAM/512GB SSD/Windows11/Office 2021/Backlit/42WHr/Silver/1.70 kg), X1502ZA-EJ524WS',
 'NSXEEN Portable Laptop Stand, Aluminum Adjustable Eye-Level Ergonomic Height Compatible for MacBook Notebook Computer PC iPad Tablet, Ultra-Thin Light Weight Desktop Notebook Holder Riser I Silver- Pack Of 1 |',
 'Chuwi CoreBook X i5 14" Laptop, 16GB RAM 512GB SSD, Windows 11, Intel Core i5-1035G1, WiFi 6, USB3.2, Backlit Keyboard, Webcam, Bluetooth 5.2, HDMI Port, 46.2 Wh, 1.4kg (Gray)',
 'Acer Aspire Lite 12th Gen Intel Core i5-12450H Thin and Light Laptop (Win11Home/12GB RAM/512GB SSD/Intel UHD Graphics) AL15-52H, 39.62cm (15.6") FHD IPS Display, Backlit Keyboard, Pure Silver, 1.7KG',
 'Dell Vostro 15 Thin & Light Laptop, Intel Core 13th Generation i5-1334U Processor, 16GB DDR4 & 512GB SSD, 15.6"(39.62cm) FHD 120Hz 250 nits, Windows 11 + MSO\'21 + 15 Month Mcafee, Carbon Black, 1.66kg',
 'Acer Aspire Lite 12th Gen Intel Core i5-1235U Premium Laptop (16 GB RAM/1 TB SSD/Win11 Home/Intel Graphics) AL15-52, 39.62cm (15.6") Full HD Display, White Backlit Keyboard, Steel Gray, 1.59KG',
 'Dell Inspiron 3530 Laptop, 13th Gen Intel Core i5-1334U Processor/16GB/1TB SSD/15.6" (39.62cm) FHD Display/Backlit Keyboard/Platinum Silver/Win 11 + MSO\'21/15 Month McAfee/Thin & Light- 1.66kg',
 'Lenovo IdeaPad Flex 5 12th Gen Intel Core i5-1235U 14"(35.56cm) WUXGA IPS 2-in-1 Laptop (16GB/512GB SSD/Win 11/Office 21/Backlit KB/Fingerprint/FHD Camera/Alexa/3 mon Game Pass/Grey/1.5Kg), 82R700JJIN',
 'HP Pavilion 14, 12th Gen Intel Core i5-1235U, 14-inch (35.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe graphics, FPR, 720p HD camera, Backlit KB (Win 11, MSO 2021, Silver, 1.41 kg), dv2014TU',
 'HONOR MagicBook X16 (2024), 12th Gen Intel Core i5-12450H, 16-inch (40.64 cm) FHD IPS Anti-Glare Thin and Light Laptop (16GB/512GB PCIe SSD/Windows 11/ Full-Size Numeric Keyboard /1.68Kg), Gray',
 'Acer Aspire 5 Gaming Laptop 13th Gen Intel Core i5(16GB RAM/512GB SSD/NVIDIA RTX 2050 4GB Graphics/144Hz/Win11Home)A515-58GM 15.6" FHD Display, Steel Gray, Backlit Keyboard, Fingerprint Reader, 1.78KG',
 'ASUS TUF Gaming F17, Intel Core i5-11400H 11th Gen, 17.3-inch (43.94 cm) FHD 165Hz, Gaming Laptop (16GB/1TB SSD/4GB NVIDIA GeForce RTX 2050/Win 11/ RGB Backlit KB/Black/2.60 kg), FX706HF-NY039W',
 'Dell Inspiron 7430 2in1 Touch Laptop, Intel Core i5-1335U Processor/ 16GB LP DDR5/ 1TB SSD/14.0" (35.56cm) FHD+/ Active Pen/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/Thin & Light- 1.58kg',
 'Acer Nitro V Gaming Laptop 13th Gen Intel Core i5-13420H with RTX 4050 Graphics 6GB VRAM, 144Hz Display (16GB DDR5/512GB SSD/Windows 11 Home/Wi-Fi 6),15.6"(39.6cms) FHD ANV15-51',
 'HP New 15 Laptop, Intel Core i5-12th Gen-1235U,8GB DDR4 RAM,512 GB SSD, Backlit KB, Windows 11 + MS Office 2021,15.6 inch(39.6 cm),FHD,Anti-Glare, Dual Speakers,1.59 kg,Natural Silver, 15-fd0070TU',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i5-12450H,4GB RTX 2050 GPU,15.6-inch(39.6 cm),FHD,IPS,144Hz,8GB DDR4,512GB SSD,Backlit KB,W11+MSO,B&O,9ms response time(P.Blue, 2.29 kg),15-fa1098TX',
 'Acer Travelmate Business Laptop Intel Core i5-1135G7 processor (16GB DDR4/ 512GB SSD/Intel Iris Xe Graphics/Windows 11 Home) TMP214-53 with 35.56 cm (14") Full HD Display']

In [159]:
for i in driver.find_elements(By.XPATH, '//span[@class="a-icon-alt"]'):
    ratings.append(i.text)

In [160]:
ratings

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [163]:
for i in driver.find_elements(By.CLASS_NAME, 'a-price-whole'):
    price.append(i.text)

In [164]:
price

['16,099',
 '43,990',
 '55,690',
 '64,990',
 '43,990',
 '52,990',
 '',
 '22,475',
 '36,870',
 '50,990',
 '19,990',
 '39,990',
 '47,990',
 '449',
 '26,990',
 '41,990',
 '54,980',
 '44,990',
 '60,150',
 '62,490',
 '61,990',
 '43,990',
 '52,990',
 '53,990',
 '82,290',
 '77,480',
 '49,980',
 '54,980',
 '36,990']

In [165]:
df=pd.DataFrame({'Product Title':title[:10], 'Ratings':rating[:10], 'Product Price':price[:10]})
df

                                       Product Title Ratings Product Price
0  (Refurbished) Lenovo ThinkPad 6th Gen Intel Co...       5        16,099
1  Acer Aspire Lite 12th Gen Intel Core i5-1235U ...       5        43,990
2  HP Laptop 15, Intel Core i5-1334U, 15.6-inch(3...       5        55,690
3  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...       5        64,990
4  Lenovo V14 G3 Laptop (Intel Core i5/ 12th Gen/...       5        43,990
5  ASUS TUF F15 Gaming Laptop, Intel Core i5-1140...       5        52,990
6  (Renewed) DELL Latitude 5490 Core i5 7th Gen L...       5
7  Acer Aspire 3 Intel Core i5-1235U Processor La...       5        22,475
8  ASUS Vivobook 15, Intel Core i5-12500H 12th Ge...       5        36,870
9  NSXEEN Portable Laptop Stand, Aluminum Adjusta...       5        50,990

In [166]:
#answer 6
driver=webdriver.Chrome()

In [167]:
driver.get('http://www.azquotes.com/')

In [168]:
top_quote=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

In [169]:
qoute=[]
author=[]
type_of_quotes=[]

In [174]:
quote=[]
for page in range(8):
    for i in driver.find_elements(By.CLASS_NAME, 'title'):
        quote.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME, 'next')
    next_button.click()
    time.sleep(8)

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=128.0.6613.138)
Stacktrace:
	GetHandleVerifier [0x00007FF737759412+29090]
	(No symbol) [0x00007FF7376CE239]
	(No symbol) [0x00007FF73758B009]
	(No symbol) [0x00007FF7375E0442]
	(No symbol) [0x00007FF7375D2D81]
	(No symbol) [0x00007FF7376066EA]
	(No symbol) [0x00007FF7375D26C6]
	(No symbol) [0x00007FF737606900]
	(No symbol) [0x00007FF7376265A2]
	(No symbol) [0x00007FF737606493]
	(No symbol) [0x00007FF7375D09D1]
	(No symbol) [0x00007FF7375D1B31]
	GetHandleVerifier [0x00007FF737A7871D+3302573]
	GetHandleVerifier [0x00007FF737AC4243+3612627]
	GetHandleVerifier [0x00007FF737ABA417+3572135]
	GetHandleVerifier [0x00007FF737815EB6+801862]
	(No symbol) [0x00007FF7376D945F]
	(No symbol) [0x00007FF7376D4FB4]
	(No symbol) [0x00007FF7376D5140]
	(No symbol) [0x00007FF7376C461F]
	BaseThreadInitThunk [0x00007FFD27C9257D+29]
	RtlUserThreadStart [0x00007FFD2908AF28+40]

In [ ]:
#i am doing something fundamentally incorrect here but i will learn!